@media screen and (min-width: 1500px) {
	html {
		font-size: 80%;
	}
}

@media screen and (max-width: 68.75em) {
	html {
		font-size: 50%;
	}
}

@media screen and (max-width: 56.25em) {
	.project {
		grid-template-columns: 1.8fr 1fr;
		grid-template-rows: auto 1fr;
	}
	.sidebar {
		grid-column: 1/-1;
		grid-row: 1/2;
		margin-bottom: 2rem;
	}
	.tab {
		flex-direction: row;
		display: flex;
		justify-content: space-around;
	}
	.heading__box {
		grid-column: 1/2;
		grid-row: 2/3;
		margin: 0;
		width: 100%;
		margin-bottom: 2rem;
		overflow: auto;
	}
	.flex {
		padding: 2rem;
	}
	.search__bar {
		width: 25rem;
	}
}
@media screen and (max-width: 46.875em) {
	body {
		overflow-y: scroll;
	}
	.project {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr 1fr;
	}
	.project__main {
		gap: 1rem;
		flex-wrap: wrap;
	}
	.nav {
		margin-left: 0;
	}
	.heading__testimonials {
		margin-bottom: 2rem;
		overflow: auto;
	}
	.search {
		display: none;
	}
	.none {
		display: block;
	}
	.search__bar {
		width: 70vw;
		border: 1px solid #ddd;
	}
	.header {
		padding: 0;
	}
	.man {
		height: 4rem;
		width: 4rem;
	}
	.heading__details-two--items {
		font-size: 6rem;
	}
}

@media screen and (max-width: 25em) {
	.search__bar {
		width: 40rem;
	}
}
