@media screen and (min-width: 1500px) {
	html {
		font-size: 80%;
	}
}

@media screen and (max-width: 68.75em) {
	html {
		font-size: 50%;
	}
}

@media screen and (max-width: 56.25em) {
	.project {
		grid-template-columns: 1.8fr 1fr;
		grid-template-rows: auto 1fr;
	}
	.sidebar {
		grid-column: 1/-1;
		grid-row: 1/2;
		margin-bottom: 2rem;
	}
	.tab {
		flex-direction: row;
		display: flex;
		justify-content: space-around;
	}
	.heading__box {
		grid-column: 1/2;
		grid-row: 2/3;
		margin: 0;
		width: 100%;
		margin-bottom: 2rem;
		overflow: auto;
	}
	.flex {
		padding: 2rem;
	}
	.search__bar {
		width: 25rem;
	}
}
@media screen and (max-width: 48em) {
	body {
		overflow-y: scroll;
	}
	.project {
		grid-template-columns: 1fr;
		grid-template-rows: auto 1fr 1fr;
	}
	.project__main {
		gap: 1rem;
		flex-wrap: wrap;
	}
	.nav {
		margin-left: 0;
	}
	.heading {
		width: 100vw;
		padding: 0;
		margin: 2rem;
		overflow-x: hidden;
	}

	.heading__testimonials {
		margin-bottom: 2rem;
		/* overflow: auto; */
		display: flex;
		grid-gap: 0;
		gap: 2.4rem;
		overflow-x: scroll;
		height: min-content;
	}
	.search {
		display: none;
	}
	.heading__details-one {
		flex-wrap: wrap;
	}
	.none {
		display: block;
	}
	.search__bar {
		width: 70vw;
		border: 1px solid #ddd;
	}
	.header {
		padding: 0;
	}
	.man {
		height: 4rem;
		width: 4rem;
	}

	.heading-tertiary-dot {
		font-size: 1.2rem;
	}
	.number {
		font-size: 1.6rem;
	}
	.heading__details-two {
		width: auto;
	}
}

@media screen and (max-width: 25em) {
	.search__bar {
		width: 40rem;
	}
	.hide {
		display: none;
	}
}
