// **color palette**

// - #F3F6FD
// - #151522
// - #FFFFFF
// - #FDE5CC
// - #B4F1CE
// - #FFD3E2
// - #E9E7FD

$color-background-primary: #f3f6fd;
$color-background: #e9e7fd;

$color-gray: #bbb;
$color-gray-dark: #888;
$color-gray-dark-1: #151522;
$color-gray-light: #eee;
$color-gray-light-1: #ccc;

$color-black: #000;
$color-white: #fff;

$color-blue: #60aae6;
$color-orange: #f55626;
$color-green: #36d33b;
$color-green-light: #b4f1ce;
$color-pink: #d039b5;
$color-pink-light: #ffd3e2;
$color-wheat: #fde5cc;
$color-violet: #e9e7fd;
