.flex2 {
	&_one {
		display: flex;
		gap: 4%;
		align-items: center;
		justify-content: center;
		margin: 1rem;
		border-bottom: 1px solid $color-gray-dark;
		box-sizing: border-box;
		&:hover {
			border-radius: 12px;
		}
		&:hover {
			cursor: pointer;
			background-color: $color-white;
			padding: 0.4rem 2rem;
			height: max-content;
			text-wrap: wrap;
			transform: scale(1.09);
		}

		&-one {
			display: flex;
			flex-direction: column;
			gap: 0.8rem;

			&--text {
				font-size: 1.4rem;
				font-weight: 500;
				color: $color-gray-dark-1;
				padding: 0 0.8rem;

				@media screen and (max-width: 56.25em) {
					font-size: 1.8rem;
					line-height: 1.5;
					letter-spacing: 0.8px;
					font-weight: 550;
				}
			}
		}
	}
}
.inner-flex {
	display: flex;
	padding: 0 0.8rem;
	justify-content: space-between;
	align-items: center;
}
.flex-special {
	background-color: $color-white;
	border-radius: 12px;
	transform: translateX(1.4rem) scale(1.16);
}
