.menu {
	border-radius: 50%;

	@media screen and (max-width: 37.5em) {
		margin-top: 2rem;
	}

	&__line1 {
		height: 0.2rem;
		width: 1rem;
		border-radius: 10px;
		background-color: black;
		margin-bottom: 0.2rem;

		@media screen and (max-width: 37.5em) {
			height: 0.6rem;
			width: 4rem;
			margin-bottom: 1rem;
		}
	}

	&__line2 {
		height: 0.2rem;
		border-radius: 10px;
		background-color: black;
		margin-bottom: 0.2rem;
		width: 1.5rem;
		transform: translateX(-0.2rem);

		@media screen and (max-width: 37.5em) {
			height: 0.6rem;
			width: 6rem;
			margin-bottom: 1rem;
			transform: translateX(-0.7rem);
		}
	}

	&:hover {
		cursor: pointer;
	}
}

.tab {
	display: flex;
	flex-direction: column;
	// align-items: center;

	@media screen and (max-width: 37.5em) {
		gap: 3rem;
	}
	&__icon {
		font-size: 3rem;
		margin-bottom: 4rem;
		color: $color-gray;
		font-weight: bold;
		padding: 1.2rem;

		@media screen and (max-width: 37.5em) {
			font-size: 5rem;
			padding: 2rem;
		}

		&:hover {
			cursor: pointer;
			border-radius: 50%;
			background-color: black;
			color: #fff;
		}
	}

	&__icon1 {
		color: #fff;
		margin-bottom: 3rem;

		padding: 1rem;
		border-radius: 50%;
		background-color: black;

		@media screen and (max-width: 37.5em) {
			font-size: 5rem;
			padding: 2rem;
		}
	}
}

.dot_menu {
	font-size: 1.5rem;

	@media screen and (max-width: 37.5em) {
		font-size: 3rem;
	}
}
.sparkle {
	font-size: 2rem;
	color: $color-white;

	@media screen and (max-width: 37.5em) {
		font-size: 3.4rem;
	}
}
.flex__icons {
	display: flex;
	gap: 0.6rem;

	&-search {
		font-size: 1.6rem;
		color: $color-gray-dark;
		font-weight: bold;

		@media screen and (max-width: 56.25em) {
			font-size: 2rem;
		}

		&:hover {
			cursor: pointer;
		}
	}

	&-ellipses {
		font-size: 1rem;

		@media screen and (max-width: 56.25em) {
			font-size: 2rem;
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.icon-star {
	font-size: 1.6rem;

	&:hover {
		fill: $color-gray-dark;
	}
}
