.menu {
	border-radius: 50%;

	&__line1 {
		height: 0.2rem;
		width: 1rem;
		border-radius: 10px;
		background-color: black;
		margin-bottom: 0.2rem;
	}

	&__line2 {
		height: 0.2rem;
		border-radius: 10px;
		background-color: black;
		margin-bottom: 0.2rem;
		width: 1.5rem;
		transform: translateX(-0.2rem);
	}

	&:hover {
		cursor: pointer;
	}
}

.tab {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
	&__icon {
		font-size: 2.4rem;
		color: $color-gray;
		font-weight: bold;
		padding: 1.2rem;

		&:hover {
			cursor: pointer;
			border-radius: 50%;
			background-color: black;
			color: #fff;
		}
	}

	&__icon1 {
		color: #fff;
		padding: 1rem;
		border-radius: 50%;
		background-color: black;
	}
}

.dot_menu {
	font-size: 1.5rem;
}
.sparkle {
	font-size: 2rem;
	color: $color-white;
}
.flex__icons {
	display: flex;
	gap: 0.6rem;

	&-search {
		font-size: 1.6rem;
		color: $color-gray-dark;
		font-weight: bold;

		&:hover {
			cursor: pointer;
		}
	}

	&-ellipses {
		font-size: 1rem;

		&:hover {
			cursor: pointer;
		}
	}
}

.icon-star {
	font-size: 1.6rem;
	color: black;
	// &:hover {
	// 	fill: $color-gray-dark;
	// }
}
