.head__secondary {
	font-size: 2rem;
	font-weight: bolder;

	@media screen and (max-width: 56.25em) {
		font-size: 2.2rem;
	}
	@media screen and (max-width: 37.5em) {
		font-size: 4.4rem;
	}
}
.name {
	text-align: center;
	margin-top: 1.2rem;
}
.date {
	font-size: 2rem;
	font-weight: bold;

	@media screen and (max-width: 56.25em) {
		font-size: 2.2rem;
	}
	@media screen and (max-width: 37.5em) {
		font-size: 3rem;
	}
}
.small-headings {
	font-size: 1.6rem;
	font-weight: bold;
	margin-top: 1rem;
	@media screen and (max-width: 56.25em) {
		font-size: 1.9rem;
	}

	@media screen and (max-width: 37.5em) {
		font-size: 2.4rem;
		margin-top: 1.4rem;
	}

	&--center {
		font-size: 1.6rem;
		margin-top: 0.5rem;

		@media screen and (max-width: 37.5em) {
			font-size: 3rem;
			letter-spacing: 0.6px;
			padding: 1.2rem 1.4rem;
			margin: 0;
		}
	}
}
.light {
	font-size: 1.6rem;
	text-align: center;
	font-weight: 500;
	@media screen and (max-width: 56.25em) {
		font-size: 1.9rem;
	}
	@media screen and (max-width: 37.5em) {
		font-size: 2.4rem;
		margin-top: 1.4rem;
	}
}
.blue-heading {
	color: $color-blue;
	font-weight: bolder;
}
.orange-heading {
	color: $color-orange;
	font-weight: bolder;
}
.green-heading {
	color: $color-green;
	font-weight: bolder;
}
.pink-heading {
	color: $color-pink;
	font-weight: bolder;
}
.violet-heading {
	color: $color-violet-dark;
	font-weight: bolder;
}
.wheat-heading {
	color: $color-wheat-dark;
	font-weight: bolder;
}

.number {
	font-size: 2rem;
	font-weight: bolder;
	margin-bottom: 0.3rem;

	@media screen and (max-width: 37.5em) {
		font-size: 3.6rem;
	}
}

.date1 {
	font-size: 1.4rem;
	text-align: right;
	padding: 0 0.8rem;
	color: $color-gray-dark;
}
