.heading__details {
	display: inline;

	&-first {
		display: flex;
		justify-content: space-between;
	}

	&-one {
		width: 75%;
		display: flex;
		align-items: center;
		gap: 0.8rem;
		margin-bottom: 2.6rem;
	}

	&-two {
		width: 15%;
		padding: 0.6rem 0.8rem 0.6rem 4.2rem;
		display: flex;
		gap: 0.8rem;

		&--items {
			font-size: 1.8rem;
			font-weight: bolder;

			&:hover {
				cursor: pointer;
			}
		}
	}
}

.heading__testimonials {
	overflow-y: auto;
	height: 80%;
	border-radius: 20px;
	display: grid;
	gap: 1rem;
	padding: 1rem 1.6rem;
	grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
	&::-webkit-scrollbar {
		display: none;
	}
	&--one-date {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&-one {
		float: left;
		height: auto;
		text-align: left;
		box-shadow: 0 0 10px rgba($color-black, 0.2);
		border-radius: 30px;
		padding: 1.8rem 1.2rem 1.8rem 1.8rem;
		margin-bottom: 6rem;
		width: 90%;
		position: relative;

		&:hover {
			cursor: pointer;

			transform: scale(1.04);
			transition: all 0.4s;
		}
		&:hover::after {
			content: "";
			height: 0.8rem;
			position: relative;
			display: inline-block;
			transition: all 0.4s;

			width: 95%;
			border-bottom-right-radius: 14px;
			border-bottom-left-radius: 14px;
			background-color: inherit;
			top: 4rem;
		}

		&:hover::before {
			content: "";
			height: 0.8rem;
			display: inline-block;
			position: relative;
			width: 80%;
			transition: all 0.4s;

			left: 0.4rem;
			border-bottom-right-radius: 14px;
			border-bottom-left-radius: 14px;
			background-color: inherit;
			top: calc(100% + 4.2rem);
			left: 2.2rem;
		}
	}

	&-two {
		float: right;
		width: 47%;
		height: auto;
		text-align: left;
		box-shadow: 0 0 10px rgba($color-black, 0.2);
		border-radius: 30px;
		padding: 1.8rem 1.2rem 1.8rem 1.8rem;
		background-color: rgba($color-orange, 0.2);
		margin-bottom: 6rem;

		width: 90%;

		&:hover {
			cursor: pointer;
			transition: all 0.4s;
			transform: scale(1.04);
		}
		&:hover::after {
			content: "";
			height: 0.8rem;
			position: relative;
			display: inline-block;
			width: 95%;
			transition: all 0.4s;

			border-bottom-right-radius: 14px;
			border-bottom-left-radius: 14px;
			background-color: inherit;
			top: 4rem;
		}

		&:hover::before {
			content: "";
			height: 0.8rem;
			display: inline-block;
			position: relative;
			transition: all 0.4s;

			width: 80%;
			left: 0.4rem;
			border-bottom-right-radius: 14px;
			border-bottom-left-radius: 14px;
			background-color: inherit;
			top: calc(100% + 4.2rem);
			left: 2.2rem;
		}
	}

	&-blue {
		float: left;
		height: auto;
		text-align: left;
		box-shadow: 0 0 10px rgba($color-black, 0.2);
		border-radius: 30px;
		padding: 1.8rem 1.2rem 1.8rem 1.8rem;
		margin-bottom: 6rem;
		width: 90%;
		position: relative;

		&:hover {
			cursor: pointer;

			transform: scale(1.04);
			transition: all 0.4s;
		}
		&:hover::after {
			content: "";
			height: 0.8rem;
			position: relative;
			display: inline-block;
			transition: all 0.4s;
			width: 95%;
			border-bottom-right-radius: 14px;
			border-bottom-left-radius: 14px;
			background-color: $color-blue;
			top: 4rem;
		}

		&:hover::before {
			content: "";
			height: 0.8rem;
			display: inline-block;
			position: relative;
			width: 80%;
			transition: all 0.4s;

			left: 0.4rem;
			border-bottom-right-radius: 14px;
			border-bottom-left-radius: 14px;
			background-color: $color-blue;
			top: calc(100% + 4.2rem);
			left: 2.2rem;
		}
	}

	&-green {
		background-color: $color-green-light;
	}

	&-pink {
		background-color: $color-pink-light;
	}

	&-violet {
		background-color: $color-violet;
	}

	&-wheat {
		background-color: $color-wheat;
	}
}
.right {
	text-align: right;
}

.h_flex {
	display: flex;
	gap: 5rem;
	align-items: center;
}
