.heading__details {
	display: inline;

	&-first {
		display: flex;

		justify-content: space-between;
	}

	&-one {
		width: 75%;
		display: flex;
		align-items: center;
		gap: 0.8rem;
		margin-bottom: 2.6rem;
	}

	&-two {
		width: 25%;
		padding: 0.6rem 0.8rem 0.6rem 4.2rem;
		display: flex;
		gap: 0.6rem;

		&--items {
			font-size: 1.2rem;
			font-weight: bolder;
		}
	}
}

.heading__testimonials {
	&-one {
		float: left;
		width: 48%;
		height: auto;
		text-align: left;
		box-shadow: 0 0 10px rgba($color-black, 0.2);
		border-radius: 16px;
		padding: 0.8rem 0.7rem 0.8rem 0.8rem;
		margin-bottom: 3.2rem;
	}

	&-two {
		float: right;
		width: 48%;
		height: auto;
		text-align: left;
		box-shadow: 0 0 10px rgba($color-black, 0.2);
		border-radius: 16px;
		padding: 0.8rem 0.7rem 0.8rem 0.8rem;
		background-color: rgba($color-orange, 0.2);
		margin-bottom: 3.2rem;
	}

	&-green {
		background-color: $color-green-light;
	}

	&-pink {
		background-color: $color-pink-light;
	}

	&-violet {
		background-color: $color-violet;
	}

	&-wheat {
		background-color: $color-wheat;
	}
}
.right {
	float: right;
}
