* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Times New Roman", Times, serif;
	overflow: visible;
}
body {
	background-color: rgba($color-background, 0.4);
}
.project {
	padding: 2rem;
	display: grid;
	grid-template-columns: min-content 1.8fr 1fr;

	&__main {
		padding: 1rem 4rem;
		margin: 1rem 0;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
}
.section-chats {
	overflow-y: scroll;
	overflow-x: hidden;
	height: 100vh;
}

.section-chats::-webkit-scrollbar {
	display: none;
}
.nav {
	display: flex;
	gap: 1.4rem;
	justify-content: flex-end;
	align-items: center;

	&__icon {
		font-size: 2rem;
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}

	&__notification {
		font-size: 2rem;

		&::after {
			content: "";
			background-color: red;
			position: relative;
			top: -1.9rem;
			left: 1.2rem;
			display: block;
			height: 0.7rem;
			width: 0.7rem;
			border-radius: 50%;
		}
		&:hover {
			cursor: pointer;
			transform: scale(1.1);
		}
	}
	&__line {
		font-size: 2.4rem;
		font-weight: light;
		color: $color-gray;
	}
	&__name {
		font-size: 1.6rem;
		font-weight: bold;

		&:hover {
			cursor: pointer;
		}
	}
}

.none {
	display: none;
}
