* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
	font-family: "Times New Roman", Times, serif;
	overflow-x: hidden;
}
body {
	background-color: $color-background-primary;
	width: 120rem;
}
.project {
	border-radius: 50px;
	padding: 2rem;
	border: 1px solid black;
	background-color: $color-background;
	display: flex;

	&__main {
		display: flex;
		flex-direction: column;
		gap: 3.2rem;

		align-items: center;
	}
}
.section-chats {
	width: 100%;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 54rem;
}
.section-chats::-webkit-scrollbar-thumb {
	background-color: $color-background-primary;
	border-radius: 10px;
}
.section-chats::-webkit-scrollbar {
	width: 6px;
}
.nav {
	display: flex;
	gap: 1.4rem;
	justify-content: center;
	align-items: center;
	margin-bottom: 2.4rem;
	margin-left: auto;

	&__icon {
		font-size: 2rem;
		&:hover {
			cursor: pointer;
		}
	}

	&__notification {
		font-size: 2rem;
		&:hover {
			cursor: pointer;
		}
	}
	&__line {
		font-size: 2.4rem;
		font-weight: light;
		color: $color-gray;
	}
	&__name {
		font-size: 1.6rem;
		font-weight: bold;

		&:hover {
			cursor: pointer;
		}
	}
}
