.heading {
	width: 90%;

	margin: 0 3rem;

	&__box {
		box-shadow: 0 0 10px rgba($color-black, 0.2);
		margin-top: 2rem;
		background-color: $color-white;
		border-radius: 16px;
		padding: 2rem;
		overflow-y: scroll;
		height: 50rem;
		width: 70rem;
		width: 100%;

		&::-webkit-scrollbar {
			width: 10px;
			// height: 1px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 50px;
			background: $color-violet;
		}
	}

	&__projects {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 2rem;
	}
}
.header {
	padding: 0 3rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 3rem;
	// Temporary
	gap: 12rem;
	&__primary {
		font-size: 3.2rem;
	}
}

.heading-tertiary {
	font-size: 1.6rem;
	color: $color-gray;
	font-weight: bolder;
	text-wrap: nowrap;

	&-dot {
		font-size: 1.6rem;
	}

	&--dot {
		display: flex;
		gap: 0.8rem;
		align-items: flex-start;
	}
}

.flex {
	display: flex;
	gap: 9rem;
	align-items: center;
	justify-content: space-between;
	padding: 0.4rem;
	margin-bottom: 1rem;
	border-bottom: 1px solid $color-gray-light-1;
}
